header{
    background-color: white;
    width:100%;
}
.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  clear: both;
}

h3{
  margin-bottom: 20px;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: 700;
  color: #4aaaa5;
  font-size: 22px;
  padding-bottom: 20px;
  margin-bottom: 15px;
  line-height: 22px;
  border-bottom: 2px solid #eeeeee;
  position: absolute;
  bottom: 20px;
  width: 100%;
  max-width: 300px;
  padding: 15px;
  margin-bottom: 0;
  font-weight: 300;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
  background: #4aaaa5;
  border-bottom: 0;
}


  a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    text-align: center
  }
  a:hover{
    background-color: #4aaaa5;
    color: white;
    
  }  

  .top-page{
     
      margin:none;
      float:right;
      
  }

  .row{
      height: auto;
      margin: auto;
      
    
  }

  .row-header{
    
    height: 50px;
    /* width:75%; */
    
  }
  
  .Name{
      background-color: #4aaaa5;
      color: white;
      width: 50%;
      font-size: 30px;
      height: 66px;
      text-align: center;
      
    }
    body {
        height: 100%;
        margin-bottom: 50px;
        margin-top: 0px;
        position: relative;
        background-color: #dddddd;

      }
    header{
        background-color: #ffffff;
        height: auto;
    }
    
    
    #seperate{
        width: 95%;
      }
      .display-4{
          color: #4aaaa5;
      }
      footer{
        background-color: #504f4f;
        border: 10px #4aaaa5;
        border-top-style: solid;
        border-left-style: hidden;
        border-right-style: hidden;
        border-bottom-style: hidden;
        height: 60px;
        position: absolute;
        bottom: -100px;
        left: -0px;
        width: 100%;
          
       }
       
       .jumbotron{
           background-color: white;
           border: 5px,#cccccc,solid;
           width: 100%;
           max-width: 960px;
           margin:auto;
           overflow: visible;
           height: 100%;
           line-height: 1.5;
       }
       
      .Portfolio{
          margin-top: 50px;
          
      }

      .my-work{
        width:300px;
        
      }